# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.tiff
*.tif
*.h5
*.h5.aux.xml
# Test binary, built with `go test -c`
*.test
*.xml
*.crt
*.key
*.o
COG
server/gdal/c_bindings/build
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cogserver

# Dependency directories (remove the comment below to include it)
# vendor/
pipeline/venv
pipeline/SIH2024
/myenv

# Go workspace file
go.work
go.work.sum

# env file
.env
1.0.0
2.0.0
=67
